/* universal */

body
{
    max-width: 1920px;
    background-image: url(../assets/images/bgtexture.jpg);
}

@font-face {
    font-family: 'Fugaz One', cursive;;
    src: url(../assets/fonts/FugazOne-Regular.ttf);
}
@font-face {
    font-family: Montauk-Regular;
    src: url(../assets/fonts/Montauk-Regular.otf);
}
@font-face {
    font-family: Montauk-Light;
    src: url(../assets/fonts/Montauk-Light.otf);
}


/* Jessie Home Page CSS */

/* NavBar */
.nav-link {
    color: #5F002B;
    font-size: 20px;
    font-family: 'Fugaz One', cursive;
}

.nav-link:hover, .nav-link:focus {
    color: #5F002B;
}

/* Navbar End */


/* Home Body */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="imageOne"] {
      width: 100%;
    }
  }
.image-one
{
    min-width: 1920px;
}

.flex-direction-row
{
    display: flex;
    flex-direction: row;
}

.align-info
{
    align-content: flex-start;
}

.home-info
{

    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 1rem;
}

.home-back-color
{
    background-color: #ffff;
}

.home-size-pic
{
    max-width:100%;
    max-height: 449.5px;
}

.home-size-info
{

    /* max-width: 1920px; */
    max-height: 449.5px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.home-size-info-pic
{
    max-width: 674px;
}



/* ----------------------------------------------- */
/* .home-col-section
{
    display: flex;
    justify-content: space-between;
}

.home-col-border
{

    max-width: 700px;
    min-height: 449.5px;
    margin-right: 3rem;

}

.home-col-border-align
{
    display: flex;
    /* justify-content: end; */
/* }
.home-col-border-pic
{
    width: 100%;
    max-height: 449.5px;
    max-width: 674px;
} */
/* ----------------------------------------------- */



/* Next col test ------------------------------------*/

.mid-sec-image
{
    max-width: 600px;
    max-height: 430px;
    margin-right: 2rem;
}

.mid-sec-info
{
    max-width: 690px;
    max-height: 430px;
}

/* Next col test end ------------------------------------*/



.home-img-pad
{
    margin-right: 2rem;
}

.info-spread
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 690px;
}

.info-align
{
    margin-top: 2rem;
    align-content: center;
    align-items: flex-start;
}

.info-headline
{
    font-size: 50px;
    font-family: Fugaz One;
    color: #5F002B;
}

.info-text
{
    color: #5F002B;
    font-family: Montauk-Regular;
}

/* footer */

.footer-size
{
    max-width: 1920px;;
    max-height: 100%;
}

.foot-logo-size
{
    max-height: 31.6px;
    max-width: 100px;
}

.footer-text
{
    font-family: Montauk-Light;
    font-size: 20px;
    color: #5F002B;
    margin-left: 0rem;
}

.footer-space
{
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 2rem;
}

.footer-right
{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}